<!DOCTYPE html>
<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  </head>


  <body>
    <script type="text/javascript" src="{{ url_for('static', filename='my_script.js') }}"></script>

    <div id="ontopDiv">
        <form action={{url_for('show_content', src=doc.source, news_id=doc._id)}} method="POST" class=add-keyword>
            <input type=submit name="gomap", value="搜索 GoogleMap"><br>
        </form>
    </div>
    <div class="left-option">
        <div>
            <a href="{{url_for('list_all_news')}}">回到列表</a>
        </div>
        <div>
            <form action={{url_for('show_content', src=doc.source, news_id=doc._id)}} method="POST" class=add-keyword>
                <p>請評價重要性:</p>
                <select name="importance">
                    {% for i in range(1,6) %}
                        {% if i == doc.importance %}
                            <option value={{i}} selected="selected">{{i}}</option>
                        {% else %}
                            <option value={{i}}>{{i}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input type=submit name="importance", value=評分><br>
            </form>
        <br>
        <font size="2">本文重要性目前評定為: {{doc.importance}}</font>
        </div>

        <br><br>

        <div>
            <form action={{url_for('show_content', src=doc.source, news_id=doc._id)}} method="POST" class=add-keyword>
                <p>貼上關鍵字:</p>
                <input type='text' size='20' name='kword' placeholder='Key Words'>
                <input type=submit name="kword", value=確定><br>
            </form>
            {% for k in doc.keywords %}
            <!--<button onclick="confirm_delete( '{{'{src'+doc.source+',_id:'+doc._id+',kword:'+k+'}'}}' )">{{k}}</button><br>-->
            <!--<button onclick="confirm_delete( '{{ '/news/'+doc.source+'/'+doc._id+'/delete/'+k }}' )"-->
                    <!--method="POST"-->
                    <!--action={{url_for('delete_keyword', src=doc.source, news_id=doc._id, kword="{{k}}")}}>{{k}}</button><br>-->
            <button onclick="confirm_delete(this)" method="POST"
                    action={{url_for('delete_keyword', src=doc.source, news_id=doc._id, kword="{{k}}")}}>{{k}}
            </button><br>
            {% endfor %}
        </div>
    </div>

    <div id="content">
        <div><h4>{{doc.title}}</h4></div>
        <div>{{doc.content|safe}}</div>
    </div>


  </body>
</html>