<!DOCTYPE html>
<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='zz_googlemapstyles.css') }}">
  </head>
  <body>

    <script src="{{ url_for('static', filename='myscript.js') }}"></script>
    <script>
      var url = "{{"https://maps.googleapis.com/maps/api/geocode/json?address=taiwan&key={}".format(key)}}"
      function show_name(){
        getLatLong(url)
      }
    </script>

    <div class="options-box">
      <h1>Find Your</h1>
      <div>
        <input id="show-listings" type="button" value="Show">
        <input id="hide-listings" type="button" value="Hide">
        <div id="testing">Hello</div>
        <input type=button value=Test onclick="show_name()">
      </div>

    </div>
    <div id="map"></div>

  <script type="text/javascript">
    window.appConfig = {
      debug: {% if env == 'development' %}true{% else %}false{% endif %},
    }
  </script>


    <script
            type="text/javascript" src="{{ url_for('static', filename='googleapi.js') }}">
    </script>

    <script async defer
        src={{"https://maps.googleapis.com/maps/api/js?key={}&v=3&callback=initMap".format(key)}}>
    </script>

  </body>
</html>

